.todoFormContainer {
  margin-bottom: 30px;
}
.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.todoFormContainer input {
  width: 100%;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  transition: all 0.1s linear;
  padding: 14px 22px;
  border-radius: 12px;
  border: 1px solid var(--c-grey);
  color: var(--c-grey);
}

.todoFormContainer input:focus {
  font-style: normal;
  color: var(--c-black);
  border: 1px solid var(--c-blue);
  outline: 1px solid var(--c-blue);
}

.todoFormContainer input:focus::placeholder {
  color: transparent;
}

@media screen and (min-width: 1024px) {
  .todoFormContainer {
    margin-left: 38px;
  }
}

@media screen and (max-width: 375px) {
  .todoFormContainer form {
    flex-flow: column nowrap;
    gap: 18px;
  }

  .todoFormContainer input {
    font-size: 18px;
    padding: 15px 12px;
  }

  .todoFormContainer Button {
    width: 100%;
    display: block;
    margin-left: 0;
  }
}
