.todosActionContainer Button {
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 32px;
  margin-left: 0;
  border-radius: 5px;
}

.todosActionContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 34px;
}

@media screen and (max-width: 375px) {
  .todosActionContainer Button {
    width: 30px;
    height: 30px;
    font-size: 22px;
  }
  .todosActionContainer {
    gap: 30px;
  }
}
